{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not dead"]
      }
    }],
    ["@babel/preset-react", {
      "pragma": "wp.element.createElement",
      "pragmaFrag": "wp.element.Fragment"
    }]
  ]
}
